body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: beige;
}

.remote-border{
    padding: 10px;
    width: 300px;
    border: solid black;
    background-color: aliceblue;
    border-radius: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.698);   
}


.row1, .row3, .row4, .row5{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    height: 35px;
}

.row2{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    height: 35px;
}

.row10, .row11, .row12, .row13{
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    height: 35px;
}

.row6, .row8{
    width: 100%;
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
    height: 35px;
}

.row7{
    margin: auto;
    width: 180px;
    height: 180px;
    border: solid black;
    border-radius: 50%;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.row9{
    margin-top: 10px;
    margin-bottom: 15px;
    width: auto;
    height: 130px;
    border: solid black 1px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.row1-button1{
    width: 60px;
    height: 35px;
    border: solid black 1px;
    border-radius: 20px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row1-button4{
    width: 60px;
    height: 35px;
    border: solid black 1px;
    border-radius: 20px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row2-button1, .row2-button2, .row2-button3, .row2-button4{
    width: 50px;
    height: 35px;
    border: solid black 1px;
    border-radius: 20px;
    background-color: grey;
    outline-offset: 4px;
}

.row3-button1, .row3-button4{
    width: 50px;
    height: 35px;
    border: solid black 1px;
    border-radius: 20px;
    background-color: red;
}

.row3-button2{
    width: 50px;
    height: 35px;
    border: solid black 1px;
    border-radius: 20px;
    background-color: green;
}

.row3-button3{
    width: 50px;
    height: 35px;
    border: solid black 1px;
    border-radius: 20px;
    background-color: blue;
}


.row4-button1, .row4-button2, .row4-button3, .row4-button4{
    width: 50px;
    height: 35px;
    border: solid black 1px;
    border-radius: 20px;
    background-color: black;
}

.row5-button1, .row5-button2, .row5-button3, .row5-button4{
    width: 50px;
    height: 35px;
    border: solid black 1px;
    border-radius: 20px;
    background-color: black;
}

.row6-button1, .row6-button4{
    width: 35px;
    height: 35px;
    border: solid black 1px;
    border-radius: 50%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.row7-centrebutton{
    width: 80px;
    height: 80px;
    border: solid black 2px;
    border-radius: 50%;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}

.row8-button1, .row8-button4{
    width: 35px;
    height: 35px;
    border: solid black 1px;
    border-radius: 50%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.row9-column1, .row9-column3{
    width: 35px;
    height: 100px;
    border: solid black 1px;
    border-radius: 20px;
    background-color: black;
    display: grid;
    justify-content: center;
    align-items: center;
}

.row9-column2{
    width: 35px;
    height: 100px;
    display: grid;
    align-items: center;
    justify-content: center;
}

.row9-column2-button1, .row9-column2-button2{
    width: 35px;
    height: 35px;
    background-color: black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row10-button1, .row10-button2, .row10-button3,.row11-button1, .row11-button2, .row11-button3, .row12-button1, .row12-button2, .row12-button3, .row13-button1, .row13-button2, .row13-button3{
    width: 60px;
    height: 35px;
    border: solid black 1px;
    border-radius: 5px;
    background-color: black;
    color: aliceblue;
    font-size: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.999);
    display: flex;
    justify-content: center;
    align-items: center;
}

.kei-sabda{
    width:  100%;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
}